.main-container-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto-main-title{
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.contacto-main-container{
    display: flex;
    align-items: center;
    background-color: white;
    width: 75vw;
    max-height: 65vh;
}
.imagen-contacto{
    width: 40%;
    height: 65vh;
    background-image: url('https://images.unsplash.com/photo-1590333748338-d629e4564ad9?q=80&w=3049&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 1000px rgba(0, 0, 0, 0.457);
}
.contacto-main-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 60%;
    max-height: 65vh;
    gap: 10px;
}
.contacto-main-container form div{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.contacto-main-container form div input{
    padding: 5px;
    margin: 5px;
    min-width: 210px;
    border-radius: 5px;
    border: solid 1px gray;
}
.contacto-main-container form div textarea{
    min-width: 210px;
    padding: 5px;
    max-width: 530px;
    max-height: 100px;
    border-radius: 5px;
}
.contacto-main-container form .container-terminos{
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px;
}
.contacto-main-container form .container-terminos input{
    min-width: 20px;
}
/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: #ff8e16;
  --secondary-color: #fff;
  --primary-hover-color: #ffaf40;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
.contacto-main-container form .container-terminos span{
    max-width: 400px;
}
.contacto-form-button{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.05rem;
}
.contacto-form-button:hover{
    background-color: rgb(194, 113, 0);
    }