.logo-inicio-sesion{
    max-width: 350px;
    opacity: 0; 
    transform: translateY(20px); 
    animation: aparecer 1.5s ease-out forwards;
}
@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
.form-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #1f1f1f;
    border-radius: 25px;
    transition: .4s ease-in-out;
    padding-bottom: 20px;
    padding-top: 35px;
  }
  
  .form:hover {
    transform: scale(1.1);
    border: 1px solid black;
  }
  
  #heading {
    text-align: center;
    margin-top: 2.2rem;
    margin-bottom: 1.5rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }

  a{
    color: rgb(210, 206, 215);
    text-decoration: none;
  }

  a:hover{
    color: rgb(195, 109, 72);
  }

  .beautiful-button {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #4f3e20, #a16530);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 14px 28px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
   /* Smooth transition */
  }
  
  /* Hover animation */
  .beautiful-button:hover {
    background: linear-gradient(to bottom, #6e4f36, #d06b27);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-15px);
  }
  
  /* Shimmer animation */
  @keyframes button-shimmer {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
  
  /* Particle animation */
  @keyframes button-particles {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }